.env
.venv/
__pycache__/
*.pyc
.DS_Store
audio/mp3_files/*.mp3
audio/audio_result/
text_file.txt
voicebackup/
mp3_files
yue_benchmark
audio_result/
probe_*.json
*/probe_*.json
results/
marie_ai_test/results/
benchmark_test/G-eval/results/
original
【短片】【有聲專欄】健良：美國突襲委內瑞拉綁架馬杜羅 特朗普下個目標是格陵蘭加拿大？-256x144-avc1-opus.mp3
minimax_audio_trump.mp3
minimax_audio_trump(true_script).txt
audio_trump.mp3